*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #080710;
    font-family: 'Poppins', sans-serif;
}

/* Background shapes */
.background {
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

.background .shape {
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
}

.shape:first-child {
    background: linear-gradient(#1845ad, #23a2f6);
    left: -80px;
    top: -80px;
}

.shape:last-child {
    background: linear-gradient(to right, #ff512f, #f09819);
    right: -30px;
    bottom: -80px;
}

/* Glass Card */
.glass-card {
    background-color: rgba(255, 255, 255, 0.13);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
}

.center-card {
    height: 520px;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px 35px;
}


.glass-card h3 {
    font-size: 32px;
    font-weight: 500;
    text-align: center;
    color: #ffffff;
}

/* Inputs */
label {
    display: block;
    margin-top: 30px;
    font-size: 16px;
    color: #ffffff;
}

input {
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    color: #ffffff;
    border: none;
    outline: none;
}

::placeholder {
    color: #e5e5e5;
}

/* Password */
.password-wrapper {
    position: relative;
}

.eye-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;

    font-size: 14px;
    color: #ffffff;

    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(8px);

    border-radius: 50%;
    padding: 6px;

    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
    transition: all 0.2s ease;
}

.eye-icon:hover {
    background: rgba(255, 255, 255, 0.25);
}


/* Button */
button {
    margin-top: 50px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.forgot-password {
    text-align: right;
    margin-top: 8px;
}

.forgot-password a {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.75);
    text-decoration: none;
    transition: color 0.2s ease;
}

.forgot-password a:hover {
    color: #ffffff;
    text-decoration: underline;
}
